* {
  color: black;
  font-family: 'Arimo', sans-serif;
}

body {
  background: white;
  background: -webkit-linear-gradient(top, #F8DE53 , white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, #F8DE53, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, #F8DE53, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, #F8DE53 , white); /* Standard syntax */

}

header {
  text-align: center;
  background: #efefef;
  padding: 10% 5%;
  background-image: url("../images/coffee-glasses.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

main {
  margin: 10% 5% 10%;
}

h1, h2 {
  font-family: 'Bitter', serif;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.25em;
}

h3 {
  font-size: 1.15em;
  text-transform: uppercase;
  line-height: 1.5em;
}

h4 {
  text-transform: uppercase;
  font-weight: bold;
}

header h1, h2 {
  color: #F6F4E6;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.75);
}

li {
  line-height: 1.5em;
}

footer {
  padding: 1.5em;
  background: black;
  text-align: center;
}

footer p, a {
  color: #F6F4E6;
}

.header-avatar {
  width: 150px;
  height: 150px;
  border: 3px solid black;
  border-radius: 50%;
}

/****************
 MEDIA QUERIES
 ****************/
@media screen and (min-width: 600px){
  main {
    margin: 10% 10%;
  }
  h3 {
    font-size: 1.5em;
  }
  p, li {
    font-size: 1.25em;
  }
  header h1 {
    font-size: 2em;
  }
  header h2 {
    font-size: 1.75em;
  }
  footer p{
    font-size: 1em;
  }
}
@media screen and (min-width: 900px) {
  main{
    margin: 10% 15%;
  }
  header h1 {
    font-size: 2.5em;
  }
  header h2 {
    font-size: 2.25em;
  }
  .row {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .column {
    flex: 1 30%;
    padding: 5%;
  }

}
