* {
  color: black;
  font-family: 'Arimo', sans-serif;
  font-size: 20px;
}

body {
  background: white;
  background: -webkit-linear-gradient(top, #F6F4E6 , white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, #F6F4E6, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, #F6F4E6, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, #F6F4E6 , white); /* Standard syntax */

}

header {
  text-align: center;
  background: #efefef;
  padding: 10% 5%;
  background-image: url("../images/coffee-glasses.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

main {
  margin: 10% 5% 10%;
}

h1, h2 {
  font-family: 'Bitter', serif;
  text-shadow: 3px 3px rgb(255, 0, 0);
  text-shadow: 3px 3px rgba(255, 0, 0, 0.5);
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
  text-transform: uppercase;
  line-height: 1.5em;
}

h4 {
  text-transform: uppercase;
  font-weight: bold;
}

header h1, h2 {
  color: #F6F4E6;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.75);
}

li {
  line-height: 1.5em;
}

footer {
  padding: 1.5em;
  background: black;
  text-align: center;
}

button {
  font-size: 1.25em;
  text-transform: uppercase;
  background: #6C8130;
  width: 100%;
  border-style: none;
  border: 3px solid #F8DE53;
  padding: 0.75em;
  margin-top: 0.5em;
  border-radius: 5px;
  color: #F6F4E6;
}

button:hover {
  background: #F8DE53;
  color: #112503;
}

button:active {
  background: #F6F4E6;
}

footer p, a {
  color: #F6F4E6;
}

.header-avatar {
  width: 150px;
  height: 150px;
  border: 3px solid black;
  border-radius: 50%;
}

/****************
 MEDIA QUERIES
 ****************/
@media screen and (min-width: 900px){
  main {
    margin: 10% 10%;
  }
  h3 {
    font-size: 1.5em;
  }
  p, li {
    font-size: 1.25em;
  }
  header h1 {
    font-size: 2em;
  }
  header h2 {
    font-size: 1.75em;
  }
  button {
    width: 50%;
    font-size: 1.1em;
    padding: 1em;
  }
  footer p{
    font-size: 1em;
  }
}
@media screen and (min-width: 1200px) {
  main{
    margin: 10% 15%;
  }
  header h1 {
    font-size: 2em;
  }
  header h2 {
    font-size: 1.75em;
  }
  p , li{
    font-size: 0.9em;
  }
  button {
    width: 100%;
  }
  .row {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .column {
    flex: 1 30%;
    padding: 5%;
  }

}
